@layer theme, base, components, utilities;

@import "./static/webtui/base.css";

/* Utils */
@import "./static/webtui/box.css";
@import "./static/webtui/button.css";
@import "./static/webtui/badge.css";

@import "./static/webtui/catppuccin.css";

[box_tui]::before {
  --box-border-color: var(--surface1);
}

[box_tui].invalid-input::before {
  --box-border-color: var(--red);
}

.header { 
    display: flex;
    justify-content: space-between; 
}

.box-title {
    background-color: var(--background0);
    padding: 0 1ch;
    margin: 0 2ch;
}

a.link {
  text-decoration: underline;
}

