name = "save"
main = "dist/worker/shim.mjs"
compatibility_date = "2025-06-20"

# routes = [
#     { pattern = "save.s-mc.io", custom_domain = true }
# ]

[build]
command = "make build release=1"
watch_dir = ["./frontend/src/", "./worker/src/"]

[assets]
directory = "./dist/assets"
binding = "ASSETS"

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "save"
database_id = "f4cee059-9c5f-4143-b972-8faf6bd0c3f7"

[[kv_namespaces]]
binding = "save"
id = "07ab9d92ad2f45ea8d8662218e310c07"

[env.dev]
build.command = "make build"
build.watch_dir = ["./frontend/src/", "./worker/src/"]

[[env.dev.d1_databases]]
binding = "DB"
database_name = "save"
database_id = "dev"

[[kv_namespaces]]
binding = "KV"
id = "save"
preview_id = "dev"


[env.dev.vars]
